h1{
    color: goldenrod;
}
body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: green;
    font-size:x-large;
    text-align: center;
    color: white;
    font-weight: bold;
}

#message-el{
    font-style: italic;
}

button{
    color: azure;
    width: 150px;
    background-color: goldenrod;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
}